.game-list-popular {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.game-item {
    display: flex;
    background-color: #141111;
    width: 500px;
    margin-top: 1em;
    border: solid 2px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    overflow: hidden;
}

.card-game-title {
    display: flex;
    flex-direction: column;
    max-height: 90px;
    width: 300px;
    justify-content: space-between;
}

.card-game-title h3 {
    font-weight: 100;
    margin-left: 10px;
    margin-top: 5px;
}

.card-game-title h4 {
    font-weight: 100;
    color: #fbbb43;
    margin-left: 10px;
    margin-top: 5px;
}

.card-img-container {
    height: 100px;
    width: 100px;
}

.card-img {
    max-height: 100px;
    max-width: 100px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.card-price-discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1em;
    font-size: 20px;
    font-weight: bold;
}

.popular-card-discount {
    display: flex;
    background-color: #fbbb43;
    color: black;
    border-radius: 15px;
    width: 3em;
    justify-content: center;
}

.popular-card-price {
    font-size: 25px;
    width: 3.5em;
}

.game-item {
    display: flex;
    position: relative;
    overflow: hidden;
}

.card-btn-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.game-item:hover .card-btn-overlay {
    opacity: 1;
}
.card-btn-overlay:hover {
    color: #fff;
}

.game-item:hover {
    border-color: #fbbb43;
}

.btn-span {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 15px;
}
